In [21]:
import pandas as pd

In [22]:
pdf1=pd.read_excel(r'C:\Users\谢立虎\Desktop\表1.xlsx')
pdf1

        一期系统
0    湘A567TA
1    湘E22N12
2    湘A3S61D
3    湘EJW721
4    湘AM6375
..       ...
646  湘A5643E
647  湘AFC959
648  湘A89FH7
649  湘A55JL2
650  湘A22JY2

[651 rows x 1 columns]

In [23]:
list1=pdf1['一期系统']

In [24]:
list1=list(list1)
print(type(list1))

<class 'list'>

In [28]:
pdf2=pd.read_excel(r'C:\Users\谢立虎\Desktop\表2.xlsx')
list2=list(pdf2['一期客服'])
list1[0:5]

['湘A567TA', '湘E22N12', '湘A3S61D', '湘EJW721', '湘AM6375']

In [29]:
list2[0:5]

['湘A44Z72', '湘A551PA', '湘AP26M1', '湘AP09Y9', '湘AS68L1']

In [30]:
list3=[]
list4=[]
list5=[]
for i in list1:
    if i in list2:
        pass
    else:
        list3.append(i)

In [32]:
list3[0:3]

['湘F96310', '湘AD2486', '湘A4GW13']

In [33]:
pdff=pd.Series(list3)
pdff

0      湘F96310
1      湘AD2486
2      湘A4GW13
3      临M78542
4      湘AHL659
        ...
111    湘AA2093
112    湘AGM676
113    湘AJA115
114    湘AP7P73
115    湘A5643E
Length: 116, dtype: object

In [35]:
pdff.to_excel(r'C:\Users\谢立虎\Desktop\表3.xlsx')