In [1]:
import pandas as pd 
import sys
import os 
import matplotlib

In [19]:
d={'one':[1,1],'tow':[2,2]}
i=['a','b']
df=pd.DataFrame(data=d,index=i)
df

   one  tow
a    1    2
b    1    2

In [20]:
df.index

Index(['a', 'b'], dtype='object')

In [21]:
stack=df.stack()
stack

a  one    1
   tow    2
b  one    1
   tow    2
dtype: int64

In [22]:
df.index

Index(['a', 'b'], dtype='object')

In [23]:
stack.index

MultiIndex([('a', 'one'),
            ('a', 'tow'),
            ('b', 'one'),
            ('b', 'tow')],
           )

In [24]:
stack.index.levels[0]

Index(['a', 'b'], dtype='object')

In [25]:
stack.index.levels[1]

Index(['one', 'tow'], dtype='object')

In [26]:
unstack=df.unstack()
unstack

one  a    1
     b    1
tow  a    2
     b    2
dtype: int64

In [27]:
tan=df.T
tan

     a  b
one  1  1
tow  2  2

In [28]:
df

   one  tow
a    1    2
b    1    2

In [29]:
d={'one':[1,1,1,1,1],
'tow':[2,2,2,2,2],
'letter':['a','a','b','b','c']}
df=pd.DataFrame(d)
df

   one  tow letter
0    1    2      a
1    1    2      a
2    1    2      b
3    1    2      b
4    1    2      c

In [30]:
one=df.groupby('letter')
one.sum()

        one  tow
letter
a         2    4
b         2    4
c         1    2

In [31]:
letterone=df.groupby(['letter','one']).sum()
letterone

            tow
letter one
a      1      4
b      1      4
c      1      2

In [32]:
letterone=df.groupby(['letter','one'],as_index=False).sum()
letterone

  letter  one  tow
0      a    1    4
1      b    1    4
2      c    1    2

In [36]:
FileNames=[]
for files in os.listdir(r'C:\Users\谢立虎\Desktop'):
    if files.endswith('.xlsx'):
        FileNames.append(files)
FileNames

['3月分区目标规划产品供应预测及价格政策 的副本.xlsx',
 'lesson3.xlsx',
 '~$AFD.xlsx',
 '~$万联.xlsx',
 '宏碁全品类报价单-2月-以此为准(1)(1) 的副本.xlsx',
 '数据.xlsx']